/* Login CSS */
body.login div#login form#loginform p.submit input#wp-submit {
	background: #d71f1b;
	box-shadow:none;
	border:1px solid #d71f1b;
	text-shadow: none;
	text-transform: uppercase;
	color:#fff;
	display: block;
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-top: 20px;
	font-weight: bold;
	transition: .25s ease-in-out;
	border-radius:4px;
}

body.login div#login form#loginform p.submit input#wp-submit:hover {
	background: #023b72;
	border:1px solid #023b72;
	color:#fff;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
	background: #d71f1b;
	box-shadow:none;
	border:1px solid #d71f1b;
	text-shadow: none;
	text-transform: uppercase;
	color:#fff;
	display: block;
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-top: 20px;
	font-weight: bold;
	transition: .25s ease-in-out;
	border-radius:4px;	
}

.login #login_error, .login .message {
	border-left:4px solid #1eab60;
}

.login #backtoblog a:hover, .login #nav a:hover {
	color:#0e1d5d;
}

.login #backtoblog a {
	font-weight: bold;
	color:#000;
}

.login #backtoblog a, .login #nav a {
	font-weight: bold;
	color:#000;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
	background: #d71f1b;
	box-shadow:none;
	border:1px solid #d71f1b;
	text-shadow: none;
	color:#fff;
}

.wp-core-ui .button-group.button-large .button:hover , .wp-core-ui .button.button-large:hover {
	background: #000;
	border:1px solid #000;
}

body.login {
	background-color: #fff;
}

.login form {
	box-shadow: 0px 2px 60px 0px rgba(0,0,0,.1)!important;
}

#login {
	padding-top: 3%!important;
}

.login form .forgetmenot label {
	position: relative;
	top:5px;
	float:none;
}

#nav {
	text-align: center;
}

#backtoblog a {
	text-align: center;
	background:none;
	display: block;
	margin:0px;
	padding:15px;
	color:#000!important;
	border:none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .25s ease-in-out;
}

#backtoblog a:hover {
	background: transparent;
	color:#000!important;
}

.login #backtoblog, .login #nav {
	padding:0px;
}

.login form {
	border:1px solid #f0ede9;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);		
}

.login h1 a {
	margin-bottom: 25px !important;
}

.login #nav a {
	color:#000;
	opacity: 1;
	transition: .25s ease-in-out;
}

.login #nav a:hover {
	opacity: 1;
	color:#000;
	text-decoration: underline;
}

p.submit input[type="submit"] {
	width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.wp-core-ui .button-group.button-large .button:hover, .wp-core-ui .button.button-large:hover {
	background: #023b72;
	border-color:#023b72;
}
