#about-page {
    padding-top: 60px;
    padding-bottom: 60px;
    @include bp(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    h2 {
        @include heading-font2;
        text-align: left;
        text-transform: none;
    }
    h3 {
        @include heading-font3;
        text-transform: none;
    }
    h4 {
        font-family: $lato-semi;
        font-size: 1.125em;
        line-height: 1.3;
        margin-bottom: 9px;
        color: #404040;
        text-transform: uppercase;
    }
    p {
        @include regular-text;
        strong {
            font-family: $lato-bold;
        }
        a {
            color: #034f9b;
            &:hover {
                color: $yellow;
            }
        }
    }
    ul {
        @include list-style;
    }
    .red-leadline {
        font-family: $lato-semi;
        font-size: 1.125em;
        line-height: 1.3;
        margin-bottom: 9px;
        text-transform: uppercase;
        color: #ff0000;
        strong {
            font-family: $lato-bold;
            color: #000;
        }
    }
    img.alignleft {
        display: inline;
        float: left;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }
    
    img.alignright {
        display: inline;
        float: right;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
    }
    img.alignleft, img.alignright {
        @include bp(lg) {
            max-width: 50%;
        }
        @include bp(md) {
            max-width: 50%;
        }
        @include bp(sm-down) {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .country-map {
        margin-top: 50px;
    }
    .countries-list {
        margin-top: 60px;
        .col-md-4 {
            margin-bottom: 30px;
        }
        h3 {
            margin-bottom: 25px;
            color: #ff0000;
        }
    }
    .moving-list {
        margin-top: 60px;
        margin-bottom: 30px;
        @include bp(sm-down) {
            margin-top: 20px;
        }
        ul {
            @include list-style;
            li {
                a {
                    display: block;
                    color: #034f9b;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}