#masheader {
    &.city-header {
        .quote-form {
            &-in {
                background-color: rgba(230,230,230,.8);
            }
        }
        .trusted-logos {
            ul {
                text-align: center;
                display: flex;
                justify-content: center;
                li {
                    display: inline-flex;
                    vertical-align: middle;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 8px;
                    background: white;
                    width: 100px;
                    height: 100px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 10px;
                    @include bp(sm-down) {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

#city-intro, #full-width-content {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #034f9b;
    @include bp(desktop) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include bp(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include bp(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .city-intro-photo {
        @include bp(sm-down) {
            margin-top: 30px;
        }
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    h2 {
        @include heading-font2;
        font-family: $lato-reg;
        color: #fff;
        text-transform: none;
        font-style: italic;
        text-align: left;
    }
    h3 {
        color:$white;
        font-size: 24px;
        margin-bottom: 20px;
    }
    ul {
        @include list-style;
        color:$white;
        li {
            color:$white;
        }
    }
    p {
        @include regular-text;
        line-height: 1.5;
        color: #fff;
        a {
            color: $yellow;
            font-style: italic;
            &:hover {
                color: #fff;
            }
        }
    }
}

.city-more {
    background-color: #686868;
    position: relative;
    @include bp(sm-down) {
        padding-top: 40px;
    }
    .row {
        align-items: center;
    }
    .cm-photo-wrap {
        @include bp(sm-up) {
            position: absolute;
            left: 0;
            width: 50%;
            height: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        @include bp(sm-up) {
            margin-bottom: 20px;
        }
        .cm-photo {
            @include bp(sm-up) {
                height: 100%;
            }
            img {
                @include bp(sm-up) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    
    .cm-content {
        padding-left: 50px;
        padding-top: 75px;
        padding-bottom: 75px;
        @include bp(desktop) {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        @include bp(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include bp(md) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include bp(sm-down) {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 0;
        }
        h2 {
            color:$white;
            font-size: 24px;
            margin-bottom: 20px;
        }
        h3 {
            color:$white;
            font-size: 22px;
            margin-bottom: 20px;
        }
        ul {
            @include list-style;
            margin-top: 20px;
            li {
                color:$white;
                a {
                    color: $yellow;
                    font-style: italic;
                    &:hover {
                        color: #fff;
                    }
                }                
            }
        }
        p {
            @include regular-text;
            line-height: 1.5;
            color: #fff;
            a {
                color: $yellow;
                font-style: italic;
                &:hover {
                    color: #fff;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &.right-img {
        .cm-photo-wrap {
            @include bp(sm-up) {
                left: auto;
                right: 0;
            }
            img {
                width: 100%;
            }
        }
        .right-img-col {
            @include bp(sm-down) {
                order: 2;
            }
        }
        .cm-content {
            padding-right: 50px;
            padding-top: 75px;
            padding-bottom: 75px;
            @include bp(desktop) {
                padding-top: 70px;
                padding-bottom: 70px;
            }
            @include bp(lg) {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            @include bp(md) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            @include bp(sm-down) {
                padding-top: 40px;
                padding-bottom: 40px;
                padding-right: 0;
            }
        }
    }
}

#city-services {
    padding-top: 75px;
    background-color: #034f9b;
    @include bp(desktop) {
        padding-top: 70px;
    }
    @include bp(lg) {
        padding-top: 60px;
    }
    @include bp(md) {
        padding-top: 50px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
    }
    .city-services-intro {
        text-align: center;
        padding-bottom: 35px;
    }
    h2 {
        @include heading-font3;
        color: #fff;
        text-transform: none;        
    }
    h3 {
        @include heading-font3;
        color: #fff;
        text-transform: none;
    }
    p {
        @include regular-text;
        line-height: 1.5;
        color: #fff;
        a {
            color: $yellow;
            &:hover {
                color: #fff;
            }
        }
    }
    .city-services-item {
        background: #034f9b;
        background: -webkit-linear-gradient(left,#034f9b 0%, #0478d1 100%);
        background: linear-gradient(to right,#034f9b 0%, #0478d1 100%);
        margin-bottom: 55px;
        &:nth-of-type(odd) {
            background: #034f9b;
            background: -webkit-linear-gradient(left,#0478d1 0%, #034f9b 100%);
            background: linear-gradient(to right,#0478d1 0%, #034f9b 100%);
            .col-md-6, .col-md-4  {
                margin-right: auto;
                margin-left: 0;
            }
            .row {
                flex-direction: row-reverse;
            }
        }
        .city-services-photo {
            img {
                width: 100%;
                object-fit: cover;
                height: 400px;
                @include bp(sm-down) {
                    height: 250px;
                }
            }
        }
        .city-services-content {
            padding: 20px;
            padding-top: 50px;
            [class^="icon-"], [class*=" icon-"] {
                color: #ffd457;
                font-size: 40px;
                margin-bottom: 30px;
                display: block;
            }
        }
    }
}

.city-contact-point {
    a {
        font-family: $lato-bold;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 2px;
        color: #252525;
        background-color: #ffd457;
        padding: 28px 36px;
        display: block;
        text-align: center;
        &:before {
            font-family: 'Font Awesome 5 Pro';
            content: '\f107';
            font-weight: 900;
            margin-right: 15px;
            display: inline-block;
            font-size: 22px;
            position: relative;
            top: 3px;
        }
        &:hover {
            background-color: #fff056;
        }
    }
}
#city-contact {
    background-color: $yellow;
    .no-gutter {
        margin-right: 0;
        margin-left: 0;
    }  
    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
    .city-map {
        height: 100%;
        iframe {
            width: 100%;
            @include bp(sm-down) {
                height: 300px;
            }
        }
        @include bp(sm-down) {
            height: 300px;
        }
    }
    .city-contact-content {
        min-height: 450px;
        padding: 75px 30px;
        text-align: center;
        @include bp(desktop) {
            padding-top: 70px;
        }
        @include bp(lg) {
            padding-top: 60px;
        }
        @include bp(md) {
            padding-top: 50px;
        }
        @include bp(sm-down) {
            padding-top: 40px;
            min-height: auto;
        }
        h2 {
            font-size: 5em;
            line-height: 1.6;
            font-family: $font-heading;
            color: #333333;
            margin-bottom: 18px;
            @include bp(desktop) {
                font-size: 4em;
            }
            @include bp(lg) {
                font-size: 3.5em;
            }
            @include bp(md) {
                font-size: 3.5em;
            }
            @include bp(sm-down) {
                font-size: 2.5em;
            }
        }
        .contact-info {
            p {
                @include regular-text;
                line-height: 1.66;
                margin-bottom: 0;
                strong {
                    font-family: $lato-bold;
                    color: #000;
                }
                a {
                    color: #034f9b;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}