#testimonials-page {
    padding-top: 75px;
    @include bp(desktop) {
        padding-top: 70px;
    }
    @include bp(lg) {
        padding-top: 60px;
    }
    @include bp(md) {
        padding-top: 50px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
    }
    .testimonial-item {
        margin-bottom: 40px;
        p {
            @include regular-text;
            line-height: 1.66;
            strong {
                font-family: $lato-bold;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        span.subject {
            display: block;
            @include regular-text;
            margin-bottom: 0;
            line-height: 1.66;
        }
        span.author {
            display: block;
            @include regular-text;
            font-family: $lato-bold;
            margin-bottom: 0;
            line-height: 1.66;
        }
        span.rating {
            @include regular-text;
            display: block;
            margin-bottom: 0;
            line-height: 1.66;
        }
        .star-area {
            color: $yellow;
            font-size: 16px;
            display: block;
            line-height: 1.66;
            i {
                font-family: 'Font Awesome 5 Pro';
                font-weight: 900;
                &:after {
                    content: "\f005";
                }
            }
        }
    }
    #review-form {
        background-color: $yellow;
        padding: 100px 0;
        @include bp(desktop) {
            padding-top: 70px;
            padding-top: 70px;
        }
        @include bp(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include bp(md) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include bp(sm-down) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        h2 {
            font-family: $lato-bold;
            font-size: 1.25em;
            line-height: 1.3;
            margin-bottom: 35px;
            color: #404040;
        }
        form {
            .row {
                padding-left: 7px;
                padding-right: 7px;
                [class*="col-"] {
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .col-md-6 {
                    @include bp(sm-down) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
            }
            label {
                display: block;
                font-family: $lato-bold;
                font-size: 16px;
                margin-bottom: 8px;
                color: #333333;
                line-height: 1.3;
            }
            .form-group {
                margin-bottom: 20px;
            }
            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn {
                @include input-style;
            }
            input[type=submit] {
                margin-top: 10px;
                font-family: $lato-bold;
                text-align: center;
                font-size: 16px;
                height: 37px;
                line-height: 37px;
                padding: 0px 15px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
                background-color: $blue;
                border: 0;
                @include animate-fade;
                &:hover {
                    background-color: #000;
                    cursor: pointer;
                }
            }
            textarea {
                height: 80px;
            }
        }
    }
}